<%- include ../application/head %>

  <h2><%= title %></h2>

  <p>
    It's now <a href="/recipes"><span class="trello-board" style="background: <%= board.prefs.backgroundColor %>"><%= board.name %></span></a>
  </p>


<%- include ../application/foot %>
